In [1]:
#!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.9)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [1]:
import selenium
from selenium import webdriver
import pandas as pd

In [75]:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\Flip Robo\Chromedriver\chromedriver')

# Question 1

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#Adding the profile and location
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [5]:
#scraping title
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'
driver.get(url)

title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[:3]

[<selenium.webdriver.remote.webelement.WebElement (session="701f43102690cc32b13c5d1e365e5c51", element="534664b0-efce-47d8-acf2-f46f72af5dda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="701f43102690cc32b13c5d1e365e5c51", element="6be1e8f5-8843-43a9-8aa7-0f36ddc5f12b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="701f43102690cc32b13c5d1e365e5c51", element="2d2c4dff-e5df-45e8-96c7-48f1b1016a4d")>]

In [6]:
job_title=[]

for i in title:
    job_title.append(i.text)
job_title[:3]

['Azure Data Analyst', 'Data Analyst', 'Data Analyst']

In [10]:
#scraping location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location=[]

for i in loc:
    job_location.append(i.text)
job_location[:3]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)']

In [13]:
#scraping company name
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name=[]

for i in company:
    company_name.append(i.text)
company_name[:3]

['Capgemini Technology Services India Limited',
 'RedLock, Inc',
 'Super India Tech Mark']

In [14]:
#scraping exerience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_required=[]

for i in exp:
    experience_required.append(i.text)
experience_required[:3]

['6-8 Yrs', '0-0 Yrs', '0-2 Yrs']

In [15]:
import pandas as pd

Job=pd.DataFrame({})
Job['Job Title']=job_title[0:10]
Job['Job Location']=job_location[0:10]
Job['Company Name']=company_name[0:10]
Job['Experience Required']=experience_required[0:10]
Job

,Job Title,Job Location,Company Name,Experience Required
0,Azure Data Analyst,Bangalore/Bengaluru,Capgemini Technology Services India Limited,6-8 Yrs
1,Data Analyst,Bangalore/Bengaluru,"RedLock, Inc",0-0 Yrs
2,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,tech mahindra ltd,4-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,1-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs

# Question 2

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#Adding the profile and location
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [5]:
#scraping title
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'
driver.get(url)

title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[:3]

[<selenium.webdriver.remote.webelement.WebElement (session="e6f58acbe240ac926386e284165e723b", element="c614d038-2cf6-43ae-9323-147bcc930edc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6f58acbe240ac926386e284165e723b", element="1eb3ac6a-1937-42dc-ba56-2ae79b072022")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6f58acbe240ac926386e284165e723b", element="e82890a0-e0c7-47ad-8a23-3fbcab678818")>]

In [6]:
job_title=[]

for i in title:
    job_title.append(i.text)
job_title[:3]

['Junior Data Scientist',
 'Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru']

In [7]:
#scraping location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location=[]

for i in loc:
    job_location.append(i.text)
job_location[:3]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [8]:
#scraping company name
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name=[]

for i in company:
    company_name.append(i.text)
company_name[:3]

['Signify', 'CronJ IT Technologies Private Limited', 'Corner Stone Solutions']

In [9]:
#scraping description
url='https://www.naukri.com/job-listings-junior-data-scientist-signify-bangalore-bengaluru-0-to-1-years-080421500675?src=jobsearchDesk&sid=16179010106614818&xp=1&px=1'
driver.get(url)

description=[]
desc=driver.find_elements_by_xpath("//section[@class='job-desc']//div[@class='dang-inner-html']")
desc
for i in desc:
    description.append(i.text.replace('\n',' '))
description

['We re on the lookout for forwardthinking innovators with a passion for sustainability. If you match this description, get in touch! We re looking for hiring Junior Data Scientists to work on machine learning, data mining, and statistical modeling for providing predictive and prescriptive enterprise analytics. Successful candidates will be expected to learn and investigate state of the art techniques in advanced machine learning and statistical modeling, and design, develop, and deploy state-of-art, scalable systems for innovative analytics applications across various functional areas (e.g. Finance, Sales, Marketing, Supply Chain, etc.). Applicants will be expected to work with a diverse set of data sources, such as time series data, graph data, semi-structured and unstructured data, and build statistical/machine-learning models in support of on-demand, real-time analytic services. The applicant should also have skills in explaining the analytic models and outcomes to business stakeholders. You ll be part of the Signify s Enterprise Information Management - Advanced Analytics team, based in Bangalore What you ll do Learn, research, design and prototype robust and scalable models based on machine learning, data mining, and statistical modeling to answer key business problems Build tools and support structures needed to analyze data, perform elements of data cleaning, feature selection and feature engineering and deliver projects in conjunction with best practices Work with development teams business groups to ensure models can be implemented as part of a delivered solution and can be replicated across multiple markets / countries Present findings to stakeholders to drive improvements and solutions from concept through to deliveryKeep abreast of the latest developments in the field by continuous learning and proactively champion promising new methods relevant to the problems at hand What you ll need Masters / B.Tech in computer science, computer engineering with 0-1 years of demonstrated experience in the Advanced Analytics / Machine Learning field Demonstrated analytics projects as part of the course curriculum Knowledge of fundamentals of machine learning, data mining and statistical modeling, and curriculum project experience applying these methods to real world problems Strong skills in software prototyping and engineering with exposure in applicable programming and analytics languages (Python, R, SQL). Ability and inclination to work in multi-disciplinary environments, and desire to see ideas realize in practice']

In [10]:
url=['https://www.naukri.com/job-listings-data-scientist-cronj-it-technologies-private-limited-bangalore-bengaluru-0-to-1-years-310321002339?src=jobsearchDesk&sid=16179028247986411&xp=2&px=1',
     'https://www.naukri.com/job-listings-opportunity-for-data-scientist-internship-bengaluru-corner-stone-solutions-bangalore-bengaluru-0-to-1-years-240620007489?src=jobsearchDesk&sid=16179028247986411&xp=3&px=1',
     'https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bangalore-bengaluru-2-to-5-years-140121905423?src=jobsearchDesk&sid=16179028247986411&xp=4&px=1',
     'https://www.naukri.com/job-listings-data-scientist-data-analyst-data-science-inspiration-manpower-consultancy-pvt-ltd-navi-mumbai-bangalore-bengaluru-6-to-11-years-250321005167?src=jobsearchDesk&sid=16179028247986411&xp=5&px=1',
    'https://www.naukri.com/job-listings-gamma-lead-data-scientist-boston-consulting-group-mumbai-new-delhi-chennai-bangalore-bengaluru-7-to-12-years-070421500217?src=jobsearchDesk&sid=16179028247986411&xp=7&px=1',
    'https://www.naukri.com/job-listings-dbcg-ind-gamma-senior-data-scientist-boston-consulting-group-mumbai-new-delhi-chennai-bangalore-bengaluru-6-to-10-years-020421500121?src=jobsearchDesk&sid=16179028247986411&xp=8&px=1',
    'https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-ganit-business-solutions-private-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-mumbai-all-areas-4-to-8-years-290321001979?src=jobsearchDesk&sid=16179028247986411&xp=9&px=1',
    'https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-2-to-7-years-151220006902?src=jobsearchDesk&sid=16179028247986411&xp=10&px=1']
for u in url:
    driver.get(u)
    desc=driver.find_elements_by_xpath("//section[@class='job-desc']//div[@class='dang-inner-html']")
    for i in desc:
        description.append(i.text.replace('\n',' '))

In [11]:
len(description)

9

In [13]:
#this particular url had a different xpath
url='https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-060421902058?src=jobsearchDesk&sid=1617906220949149&xp=6&px=1'
driver.get(url)
desc=driver.find_elements_by_xpath("//section[@class='JD av_textblock_section']//div[@class='nConfig_textblock ']")
for i in desc:
    description.insert(5,i.text.replace('\n',' ')) #inserting the description at the 5th index

In [14]:
import pandas as pd

Job=pd.DataFrame({})
Job['Job Title']=job_title[0:10]
Job['Job Location']=job_location[0:10]
Job['Company Name']=company_name[0:10]
Job['Job Description']=description
Job

,Job Title,Job Location,Company Name,Job Description
0,Junior Data Scientist,Bangalore/Bengaluru,Signify,We re on the lookout for forwardthinking innov...
1,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,Responsibilities and Duties Create innovative ...
2,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,Location - Bangalore / Bengaluru Duration- 6 M...
3,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,Roles and Responsibilities - Selecting featu...
4,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,Job description Job Summary and Key Responsibi...
5,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Job Description Introduction IBM is continuous...
6,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,Practice Area Profile BCG GAMMA combines inn...
7,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,What Youll Do We re looking for a passion...
8,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,About Ganit Inc Founded by senior industry ex...
9,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Roles and Responsibilities Must have strong P...

## Question 3

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#adding job profile
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [6]:
#appyling location filter
loc_filter=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']//label[@for='chk-Delhi / NCR-cityTypeGid-']//i[@class='fleft naukicon naukicon-checkbox']")
loc_filter.click()

In [7]:
#applying salary filter
salary_filter=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']//label[@for='chk-3-6 Lakhs-ctcFilter-']//i[@class='fleft naukicon naukicon-checkbox']")
salary_filter.click()

In [8]:
#scraping title
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]

for i in title:
    job_title.append(i.text)
job_title[:3]

['Data Scientist - IBM Garage',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Females Required- Data Scientist- Noida']

In [9]:
#scraping location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location=[]

for i in loc:
    job_location.append(i.text)
job_location[:3]

['Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, Ghaziabad',
 'Noida, Gurgaon/Gurugram, Delhi / NCR']

In [10]:
#scraping company name
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name=[]

for i in company:
    company_name.append(i.text)
company_name[:3]

['IBM India Pvt. Limited', 'Change leaders', 'Randstad']

In [11]:
#scraping experience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_required=[]

for i in exp:
    experience_required.append(i.text)
experience_required[:3]

['5-8 Yrs', '5-10 Yrs', '3-7 Yrs']

In [12]:
Job=pd.DataFrame({})
Job['Job Title']=job_title[0:10]
Job['Job Location']=job_location[0:10]
Job['Company Name']=company_name[0:10]
Job['Experience Required']=experience_required[0:10]
Job

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,"Mumbai, Ghaziabad",Change leaders,5-10 Yrs
2,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs
3,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",FUTURES AND CAREERS,2-7 Yrs
4,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",FUTURES AND CAREERS,2-7 Yrs
5,Data Scientist - Hadoop/BigQuery,Noida,Jubna,3-6 Yrs
6,Data Scientist - Python / Machine Learning / T...,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",FUTURES AND CAREERS,3-8 Yrs
7,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,2-7 Yrs
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs
9,Data Scientist - Python / Machine Learning / T...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs

## Question 4

In [3]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [4]:
#adding profile and location
search_job=driver.find_element_by_id('sc.keyword')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id('sc.location')
search_loc.clear()
search_loc.send_keys("Noida")
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [9]:
#scraping company name
company=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
company_name=[]

for i in company:
    company_name.append(i.text)
company_name[:5]

['BlackRock', 'BlackRock', 'Knoldus Inc', 'Adobe', 'abc consultants']

In [6]:
#scraping number of days when the job was posted
day=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-1qtdns2']//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days=[]

for i in day:
    days.append(i.text)
days[:3]

['20d', '20d', '24h']

In [7]:
#scraping rating
rating=[]
rate=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']//span[@class='css-19pjha7 e1cjmv6j1']")
for i in rate:
    rating.append(i.text)
rating[:3]

['4.0', '4.0', '4.3']

In [10]:
Job=pd.DataFrame({})
Job['Company Name']=company_name[0:10]
Job['Number of days job was posted']=days[0:10]
Job['Rating']=rating[0:10]
Job

           Company Name Number of days job was posted Rating
0             BlackRock                           20d    4.0
1             BlackRock                           20d    4.0
2           Knoldus Inc                           24h    4.3
3                 Adobe                            3d    4.4
4       abc consultants                            2d    4.2
5  Gauge Data Solutions                            1d    3.1
6        Biz2Credit Inc                           10d    3.8
7       Priority Vendor                            1d    3.7
8              Techlive                            7d    5.0
9       Healtheoz India                            1d    4.8

## Question 5

In [3]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [4]:
#adding profile and location to search
search_job=driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id('LocationSearch')
search_loc.clear()
search_loc.send_keys("Noida")
search_btn=driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [5]:
#scraping company name
company=driver.find_elements_by_xpath("//p[@class='m-0 ']")
company_name=[]

company

[<selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="cc508244-70e0-4fd4-9ea6-d3a25eabd431")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="2659e48a-48fa-4068-bebe-b82398908e7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="151cc756-e279-41a6-bfce-27fdba213353")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="7a05d506-3625-4527-94e8-ac6984208532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="64c758be-7648-4e56-ba7d-24da1996aebd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="300f55da-5825-4cdb-aa0b-c7d56e8a25ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="1ad93bf7-9c94-4f85-b2fe-57859a3c1960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="feb5517c-47f2-492f-86e7-9be24be6db6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="ceb61d0d-a890-4414-b517-e5dff31e81d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="d7dc8595-b3e0-40e0-b10b-6922ca63ff8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="9c350121-4878-4d0f-af39-7e44a0a1f659")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="c5dd1299-c0ea-4d4f-bfc9-648e5c099c6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="da9b08dd-a1f7-4ac6-bb79-10f5a33e120f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="c7ad6705-114a-476e-be2b-692086bef6d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="c395ca94-a460-4de8-8b5b-41083f92ad23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="bb0f0eb3-b6bf-4929-b4c2-23f40f83648c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="64e85a50-561b-4e23-b204-600f5491889a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="f11caad0-e19d-4df5-912f-bd59c3aba735")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="10a8df9d-eb08-4122-8d63-1c9fcc31aebb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a2efc723b7293c812ddfa43d71c527d", element="e382a27e-4e29-4a94-b30f-a57706c862d1")>]

In [6]:
for i in company:
    company_name.append(i.text)
company_name[:5]

['Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'IBM',
 'Ericsson-Worldwide']

In [7]:
#scraping number of salaries
no=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
num=[]
for i in no:
    num.append(i.text)
num[:5]

['14 salaries', '14 salaries', '14 salaries', '13 salaries', '12 salaries']

In [10]:
#scraping average salary
a=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg=[]
for i in a:
    avg.append(i.text.replace('\n',''))
avg[:5]

[' 5,97,967/yr',
 ' 11,12,243/yr',
 ' 12,12,741/yr',
 ' 7,37,972/yr',
 ' 7,15,984/yr']

In [14]:
#scraping minimum salary
m=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span")
min=[]
c=0
for i in m:
    if c%2==0:
        min.append(i.text.replace('\n',''))
    c+=1
min[:5]

['333K', '560K', '436K', '569K', '350K']

In [15]:
#scraping max salary
max=[]
c=0
for i in m:
    if c%2==1:
        max.append(i.text.replace('\n',''))
    c+=1
max[:5]

['1,080K', '2,147K', '11,274K', '2,648K', '1,565K']

In [17]:
Salary=pd.DataFrame({})
Salary['Company Name']=company_name[0:10]
Salary['Number of salaries']=num[0:10]
Salary['Average Salary']=avg[0:10]
Salary['Minimum Salary']=min[0:10]
Salary['Maximum Salary']=max[0:10]
Salary

,Company Name,Number of salaries,Average Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,14 salaries,"5,97,967/yr",333K,"1,080K"
1,Accenture,14 salaries,"11,12,243/yr",560K,"2,147K"
2,Delhivery,14 salaries,"12,12,741/yr",436K,"11,274K"
3,IBM,13 salaries,"7,37,972/yr",569K,"2,648K"
4,Ericsson-Worldwide,12 salaries,"7,15,984/yr",350K,"1,565K"
5,UnitedHealth Group,10 salaries,"13,41,900/yr","1,037K","1,500K"
6,Valiance Solutions,9 salaries,"7,90,812/yr",487K,"1,421K"
7,Innovaccer,8 salaries,"11,81,047/yr",602K,"1,644K"
8,ZS Associates,7 salaries,"9,89,924/yr",196K,"1,755K"
9,EXL Service,7 salaries,"11,73,127/yr",558K,"1,500K"

## Question 6

In [4]:
driver.get('https://www.flipkart.com/')

In [5]:
#adding sunglasses to search
search_job=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@class='_3704LK']")
search_job.send_keys("sunglasses")
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [6]:
#scraping brands
br=driver.find_elements_by_xpath("//div[@class='_2B099V']//div[@class='_2WkVRV']")
brand=[]
for i in br:
    brand.append(i.text)
brand[:5]

['Dannilo', 'Aislin', 'Fastrack', 'phenomenal', 'PIRASO']

In [7]:
len(brand)

40

In [8]:
#scraping product description
pd=driver.find_elements_by_xpath("//div[@class='_2B099V']//a[@class='IRpwTa']")
PD=[]
for i in pd:
    PD.append(i.text)
PD[:5]

['Others Round Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)']

In [9]:
len(PD)

40

In [10]:
#scraping price
pr=driver.find_elements_by_xpath("//div[@class='_25b18c']//div[@class='_30jeq3']")
Price=[]
for i in pr:
    Price.append(i.text)
Price[:5]

['232', '459', '683', '399', '187']

In [11]:
len(Price)

40

In [12]:
#scraping discount
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc=[]
for i in d:
    disc.append(i.text.replace(' off',''))
disc[:5]

['76%', '69%', '24%', '80%', '88%']

In [13]:
len(disc)

40

In [14]:
#acraping data from next page
br=driver.find_elements_by_xpath("//div[@class='_2B099V']//div[@class='_2WkVRV']")
for i in br:
    brand.append(i.text)
    
pd=driver.find_elements_by_xpath("//div[@class='_2B099V']//a[@class='IRpwTa']")
for i in pd:
    PD.append(i.text)
    
pr=driver.find_elements_by_xpath("//div[@class='_25b18c']//div[@class='_30jeq3']")
for i in pr:
    Price.append(i.text)
    
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in d:
    disc.append(i.text.replace(' off',''))

In [15]:
brand[40:42]

['phenomenal', 'ROYAL SON']

In [16]:
#scraping data from third page
br=driver.find_elements_by_xpath("//div[@class='_2B099V']//div[@class='_2WkVRV']")
for i in br[0:20]:
    brand.append(i.text)
    
pd=driver.find_elements_by_xpath("//div[@class='_2B099V']//a[@class='IRpwTa']")
for i in pd[0:20]:
    PD.append(i.text)
    
pr=driver.find_elements_by_xpath("//div[@class='_25b18c']//div[@class='_30jeq3']")
for i in pr[0:20]:
    Price.append(i.text)
    
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in d[0:20]:
    disc.append(i.text.replace(' off',''))

In [17]:
len(brand), len(PD), len(Price), len(disc)

(100, 100, 100, 100)

## Question 7

In [23]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [31]:
rating=[]
review=[]
full_sum=[]

In [75]:
#scraping all the data from same code repeatedly from one page after another
rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
for i in rate:
    rating.append(i.text)
    
rev=driver.find_elements_by_xpath("//div[@class='row']//p[@class='_2-N8zT']")
for i in rev:
    review.append(i.text)
    
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
for i in full:
    full_sum.append(i.text.replace('\n',' '))

In [76]:
len(rating), len(review), len(full_sum)

(100, 100, 100)

In [80]:
Product_review=pd.DataFrame({})
Product_review['Rating']=rating
Product_review['Review summary']=review
Product_review['Full review']=full_sum
Product_review

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget. Im am v...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Worth every penny,iPhone is delivered on time. Display is great ...
97,5,Must buy!,I will just say its an awesome phone. Starting...
98,5,Worth every penny,"Just go for it without a second thought, if yo..."
99,5,Fabulous!,I really liked the budget iPhone. First I thou...

## Question 8

In [91]:
driver.get('https://www.flipkart.com/')

In [92]:
#adding sneakers to search
search_job=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@class='_3704LK']")
search_job.send_keys("sneakers")
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [93]:
#scraping brand
br=driver.find_elements_by_xpath("//div[@class='_2B099V']//div[@class='_2WkVRV']")
brand=[]
for i in br:
    brand.append(i.text)
brand[:5]

['French Connection', 'DUCATI', 'Chevit', 'Extoes', 'Robbie jones']

In [94]:
len(brand)

40

In [98]:
#scraping product descritpion
pd=driver.find_elements_by_xpath("//div[@class='_2B099V']//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")
PD=[]
for i in pd:
    PD.append(i.text)
PD[:5]

['Sneakers For Men',
 'Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men']

In [99]:
len(PD)

40

In [100]:
#scraping price
pr=driver.find_elements_by_xpath("//div[@class='_25b18c']//div[@class='_30jeq3']")
Price=[]
for i in pr:
    Price.append(i.text)
Price[:5]

['680', '2,099', '499', '795', '379']

In [101]:
len(Price)

40

In [102]:
#scraping discount
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
disc=[]
for i in d:
    disc.append(i.text.replace(' off',''))
disc[:5]

['65%', '41%', '72%', '46%', '62%']

In [103]:
len(disc)

38

In [104]:
br=driver.find_elements_by_xpath("//div[@class='_2B099V']//div[@class='_2WkVRV']")
for i in br:
    brand.append(i.text)
    
pd=driver.find_elements_by_xpath("//div[@class='_2B099V']//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")
for i in pd:
    PD.append(i.text)
    
pr=driver.find_elements_by_xpath("//div[@class='_25b18c']//div[@class='_30jeq3']")
for i in pr:
    Price.append(i.text)
    
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in d:
    disc.append(i.text.replace(' off',''))

In [105]:
br=driver.find_elements_by_xpath("//div[@class='_2B099V']//div[@class='_2WkVRV']")
for i in br[0:20]:
    brand.append(i.text)
    
pd=driver.find_elements_by_xpath("//div[@class='_2B099V']//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")
for i in pd[0:20]:
    PD.append(i.text)
    
pr=driver.find_elements_by_xpath("//div[@class='_25b18c']//div[@class='_30jeq3']")
for i in pr[0:20]:
    Price.append(i.text)
    
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in d[0:20]:
    disc.append(i.text.replace(' off',''))

In [106]:
len(brand), len(PD), len(Price), len(disc)

(100, 100, 100, 96)

## Question 9

In [56]:
driver.get('https://www.myntra.com/shoes')

In [48]:
#applying price filter
price_filter=driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
for x in price_filter:
    if x.text=='Rs. 6649 to Rs. 13099(619)':
        x.click()
        break

In [47]:
#applying color filter
col_filter=driver.find_elements_by_xpath("//label[@class='common-customCheckbox']")
for x in col_filter:
    if x.text=='Black (17306)':
        x.click()
        break

In [49]:
#scraping brand
br=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h3[@class='product-brand']")
brand=[]
for i in br:
    brand.append(i.text)
brand[:5]

['ALDO', 'Nike', 'Bugatti', 'Nike', 'Nike']

In [50]:
len(brand)

50

In [51]:
#scraping description
ds=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h4[@class='product-product']")
desc=[]
for i in ds:
    desc.append(i.text)
desc[:5]

['Men Leather Loafers',
 'Men KD13 EP Basketball Shoes',
 'Men Perforated Mule Sneakers',
 'Men AIR ZOOM Running Shoes',
 'Men React Infinity Running']

In [54]:
#scraping price from individual url of each product
url=driver.find_elements_by_xpath("//a[@target='_blank']")
UR=[]
for i in url:
    UR.append(i.get_attribute('href'))
for u in UR:
    driver.get(u)
    pr=driver.find_elements_by_xpath("//span[@class='pdp-price']/strong")
    for i in pr:
        price.append(i.text)
price[:10]

['Rs. 7799',
 'Rs. 12995',
 'Rs. 6999',
 'Rs. 10121',
 'Rs. 10846',
 'Rs. 7999',
 'Rs. 8246',
 'Rs. 7197',
 'Rs. 8295',
 'Rs. 6996']

In [55]:
len(price)

50

In [57]:
#repeating same steps for next page
br=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h3[@class='product-brand']")
for i in br:
    brand.append(i.text)

ds=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h4[@class='product-product']")
for i in ds:
    desc.append(i.text)
    
url=driver.find_elements_by_xpath("//a[@target='_blank']")
URL=[]
for i in url:
    URL.append(i.get_attribute('href'))
for u in URL:
    driver.get(u)
    pr=driver.find_elements_by_xpath("//span[@class='pdp-price']/strong")
    for i in pr:
        price.append(i.text)

In [58]:
len(brand), len(desc), len(price)

(100, 100, 100)

## Question 10

In [76]:
driver.get('https://www.amazon.in/')

In [77]:
#adding laptops to search
search_pro=driver.find_element_by_id('twotabsearchtextbox')
search_pro.send_keys("laptop")
search_btn=driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

In [78]:
#applying core filter
filter=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for x in filter:
    if x.text=='Intel Core i7':
        x.click()
        break

In [79]:
#applying core filter
filter=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for x in filter:
    if x.text=='Intel Core i9':
        x.click()
        break

In [80]:
#scraping title
t=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']/h2")
title=[]
for i in t[:10]:
    title.append(i.text)
title[:5]

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris X Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver']

In [81]:
#scraping price
pr=driver.find_elements_by_xpath("//span[@class='a-price']")
price=[]
for i in pr[:10]:
    price.append(i.text)
price[:5]

['86,790', '95,993', '5,22,077', '1,98,590', '2,27,200']

In [92]:
#scraping rating individually from each product
Rate=[]
url=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in url[:10]:
    UR.append(i.get_attribute('href'))
for u in UR:
    driver.get(u)
    rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
    rate.click()
    rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
    Rate.append(rating.text)
Rate[:10]

['4.2 out of 5',
 '4.4 out of 5',
 '3.9 out of 5',
 '3 out of 5',
 '2.3 out of 5',
 '4.6 out of 5',
 '4.4 out of 5',
 '4.3 out of 5',
 '3.3 out of 5',
 '3.4 out of 5']